<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<div style="text-align:center">
  <h1>
   List element component:
  </h1>

  <lib-ratify
    [grade]="grade"
    [lists]="lists"
    [maxRating]="maxRating"
    [showRatingCounter]="showRatingCounter" 
    (triggerRatingSelection)="selectedRating($event)"
    >
  </lib-ratify>

  <!-- <h1 *ngIf="myRating">
    Rated to {{myRating}}
  </h1> -->
</div>